# {version}

Additional documentation can be found at: https://github.com/periareon/rules_isort

## bzlmod

```python
bazel_dep(name = "rules_isort", version = "{version}")
```

## WORKSPACE

```python
load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")
http_archive(
    name = "rules_isort",
    integrity = "sha256-{sha256_base64}",
    urls = ["https://github.com/periareon/rules_isort/releases/download/{version}/rules_isort-{version}.tar.gz"],
)
```
